.app {  }

/*@keyframes slidy {*/
    /*0% { left: 0; }*/
    /*100% { left: -100%; }*/
/*}*/

.comicbook-list { list-style: none; margin: 0 }
.comicbook-list-item { border: 1px solid #eee; }

.comicbook-viewer { width: 100%; overflow: hidden; background: #d3ffee; }
.comicbook-viewer div.comicbook-viewer-inner { position: relative; width: 500%; margin: 0; left: 0; text-align: left; font-size: 0; }
.comicbook-viewer img { width: 20%; float: left; background: #b4f3ff; min-height: 200px; }
